
{{#unboundIf notification.isError}}
  <img src="../img/error.svg" alt="Error"/>
{{/unboundIf}}

{{#unboundIf notification.isAlert}}
  <img src="../img/alert.svg" alt="Alert"/>
{{/unboundIf}}

{{#unboundIf notification.isInfo}}
  <img src="../img/info.svg" alt="Info"/>
{{/unboundIf}}

<div class="message-area">
  {{#unboundIf notification.isError}}
    <h1>Uh oh.</h1>
  {{/unboundIf}}

  {{#unboundIf notification.isAlert}}
    <h1>Attention!</h1>
  {{/unboundIf}}

  {{#unboundIf notification.isInfo}}
    <h1>Hey!</h1>
  {{/unboundIf}}

  <div class="message">
    {{{notification.content}}}
  </div>
</div>
